<div style="min-height: 215px;">
  <a *ngIf="apiLoaded | async"
     class="weatherwidget-io"
     data-accent="rgba(24, 24, 24, 0.1)"
     data-basecolor="rgba(24, 24, 24, 0.1)"
     data-cloudcolor="#f2f2f2"
     data-cloudfill="#3f3f3f"
     data-font="Helvetica"
     data-highcolor="#f7f7f7"
     data-label_1="Weather"
     data-lowcolor="#cfcfcf"
     data-mooncolor="#e2e2e2"
     data-raincolor="#eaeaea"
     data-shadow="rgba(255, 255, 255, 0.1)"
     data-snowcolor="#f2f2f2"
     data-suncolor="#ffffff"
     data-textcolor="#ffffff"
     data-theme="dark"
     href="https://forecast7.com/en/55d0182d94/novosibirsk/">
    Weather
  </a>
</div>
