<app-header text="Server"></app-header>

<div class="row">
  <div class="col-3">
    <app-block [idx]=65 icon="arrows-alt-v" title="Ping"></app-block>
  </div>
  <div class="col-3">
    <app-block [idx]=67 icon="download" title="Download"></app-block>
  </div>
  <div class="col-3">
    <app-block [idx]=206 icon="arrows-alt-v" title="UI Resp."></app-block>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <app-block [idx]=160 icon="percent" title="CPU"></app-block>
  </div>
  <div class="col-3">
    <app-block [idx]=165 icon="microchip" title="Memory"></app-block>
  </div>
  <div class="col-3">
    <app-block [idx]=161 icon="hdd" title="SSD Space"></app-block>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <app-block [idx]=292 icon="hdd" title="HDD Space"></app-block>
  </div>
  <div class="col-3">
    <app-block [idx]=155 icon="thermometer-half" title="CPU Temp"></app-block>
  </div>
  <div class="col-3">
    <app-block [idx]=166 icon="thermometer-half" title="GPU Temp"></app-block>
  </div>
</div>
