<app-header text="Living Room"></app-header>
<div class="row">
  <div class="col-2">
    <app-color-switch-block [clickable]="true" [idx]="198" icon="lightbulb" title="Yeelight"></app-color-switch-block>
  </div>
  <div class="col-2">
    <app-block [clickable]="true" [idx]="204" icon="lightbulb" title="Smart Lamp"></app-block>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <app-block [clickable]="true" [idx]=264 icon="tint" title="Humidifier"></app-block>
  </div>
  <div class="col-3">
    <app-block [idx]="34" icon="thermometer-half" title="Temperature"></app-block>
  </div>
  <div class="col-3">
    <app-block [idx]=35 icon="tint" title="Humidity"></app-block>
  </div>
</div>
