<app-header text="Devices"></app-header>
<div class="row">
  <div class="col-4">
    <app-block [idx]=43 icon="desktop" title="Desktop"></app-block>
  </div>
  <div class="col-4">
    <app-block [idx]=89 icon="laptop" title="Acer"></app-block>
  </div>
  <div class="col-4">
    <app-block [idx]=45 icon="laptop" title="Lenovo"></app-block>
  </div>
  <div class="col-4">
    <app-block [idx]=44 icon="mobile" title="Redmi"></app-block>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <app-block [idx]=181 icon="mobile" title="Redmi 6"></app-block>
  </div>
  <div class="col-4">
    <app-block [idx]=46 icon="microchip" title="Gateway"></app-block>
  </div>
  <div class="col-4">
    <app-block [idx]=192 icon="fas fa-wind" title="Air Sensor"></app-block>
  </div>
  <div class="col-4">
    <app-block [idx]=209 icon="thermometer-half" title="Temp Display"></app-block>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <app-block [idx]=208 icon="lightbulb" title="Yeelight"></app-block>
  </div>
  <div class="col-4">
    <app-block [idx]=203 icon="lightbulb" title="Smart Lamp"></app-block>
  </div>
  <div class="col-4">
    <app-block [idx]=152 icon="plug" title="Broadlink SP1"></app-block>
  </div>
  <div class="col-4">
    <app-block [idx]=151 icon="video" title="iSpy"></app-block>
  </div>
</div>
