<app-header text="Hallway"></app-header>
<div class="row">
  <div class="col-3">
    <app-block [clickable]="true" [idx]="239" icon="lightbulb" title="Hall 1"></app-block>
  </div>
  <div class="col-3">
    <app-block [clickable]="true" [idx]="246" icon="lightbulb" title="Hall 2"></app-block>
  </div>
  <div class="col-3">
    <app-block [clickable]="true" [idx]="36" icon="lightbulb" title="Christmas"></app-block>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <app-block [idx]=79 icon="running" title="Motion"></app-block>
  </div>
  <div class="col-3">
    <app-block [clickable]="true" [idx]="141" icon="video" title="Arm Cam"></app-block>
  </div>
  <div class="col-3">
    <app-block [idx]="96" icon="dungeon" title="Door"></app-block>
  </div>
</div>
