body {
  margin: 0;
}

.page-container {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.3;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-repeat: repeat;
  background-color: #222222;
  user-select: none;
}

@media (max-height: 500px) {
  .page-container {
    overflow-y: scroll;
  }
}

@media (max-aspect-ratio: 12/10) {
  .page-container {
    overflow-y: scroll;
    padding-left: 0;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
}

@media (max-aspect-ratio: 12/10) {
  .flex-container {
    flex-direction: column;
    width: 100%;
  }
}

.col-3-1 {
  display: flex;
  flex-direction: column;
  width: 33%;
}

@media (max-aspect-ratio: 12/10) {
  .col-3-1 {
    width: 100%;
  }
}

.col-2-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media (max-aspect-ratio: 12/10) {
  .col-2-1 {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.col-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.col-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.col-3 {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.col-4 {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.col-5 {
  display: flex;
  flex-direction: column;
  width: 20%;
}
